.header button{
  font-size: 2vw;
}
.header .page{
  color: white;
  font-size: calc(20px + 1.2vw);
}
.material-icons.md-24{
  color: rgba(255, 255, 255, 1);
/*  padding: 0 14px;*/
  font-size: calc(28px + 1vw);
}
#more_vert{
  margin: 2%;
  font-size: calc(20px + 1.2vw);
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.spacer {
  flex: 1 1 auto;
}
.material-icons.face{
  color: rgba(255, 255, 255, 1);
  margin-right: 8px;
  font-size: calc(20px + 0.5vw);
}
name{
  font-size: calc(12px + 0.5vw);
}
.separator{
  border-left: 3px solid white;
  border-radius: 2px;
  height: 30px;
  margin: 1%;
}
