<div *ngIf="authService.isLogged" class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <i *ngIf="route=='home'" class="material-icons md-24">home</i>
      <i *ngIf="route=='graph'" class="material-icons md-24">show_chart</i>
      <i *ngIf="route=='settings'" class="material-icons md-24">settings</i>
      <i *ngIf="route=='timelapse'" class="material-icons md-24">timelapse</i>
      <i *ngIf="route=='webcam'" class="material-icons md-24">insert_photo</i>

  <button mat-button [matMenuTriggerFor]="menu">
    <span class="page">{{route | uppercase}}</span>
   <!-- <mat-icon md-light>more_vert</mat-icon> -->
    <i id="more_vert" class="material-icons md-light">more_vert</i>
  </button>

  <mat-menu #menu="matMenu">
    <button *ngIf="route!='home'" routerLink="/home" routerLinkActive="active" mat-menu-item >
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button *ngIf="route!='graph'" routerLink="/graph" routerLinkActive="active" mat-menu-item>
      <mat-icon>show_chart</mat-icon>
      <span>Graph</span>
    </button>
    <button *ngIf="route!='timelapse'" mat-menu-item routerLink="/timelapse" routerLinkActive="active">
      <mat-icon>timelapse</mat-icon>
      <span>Timelapse</span>
    </button>
    <button *ngIf="route!='webcam'"mat-menu-item routerLink="/webcam" routerLinkActive="active">
      <mat-icon>insert_photo</mat-icon>
      <span>Webcam</span>
    </button>
    <button *ngIf="route!='settings'" mat-menu-item routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button *ngIf="authService.isLogged" mat-menu-item (click)="authService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
      <span class="spacer"></span>
      <i class="material-icons face">face</i>
      <span *ngIf="firstname!='' && lastname!=''" id="name">{{firstname}} | {{lastname}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
