.header button{
  margin: 2%;
  font-size: 2vw;
}
.header .page{
  color: white;
  margin-right: 0.5vw;
}
.icon_header{
  position: relative;
  top: 2vh;
  color: rgba(255, 255, 255, 1);
  font-size: 3vw;
  margin-left: 2%;
  margin-top: 2%;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
