<footer [@simpleFadeAnimation]="'in'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons md-24">build</i>
      <span id="version">Current version 1.0.1</span>
      <span class="example-spacer"></span>
      <i class="material-icons md-24">copyright</i>
      <span id="copyright">GrowTent</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--
  <mat-toolbar color="primary">
    <mat-toolbar-row class="footer"> -->
      <!--
        <div class="footer_logo">
          <mat-icon>eco</mat-icon>
          <span>GrowTent</span>
        </div>
        <div class="footer_version">
          <mat-icon>build</mat-icon>
          <span>Current version 1.0.1</span>
        </div> -->
  <!--
        <div class="footer_copyright">
          <mat-icon>copyright</mat-icon>
          <span>Powered by GrowTent©2020</span>
        </div>
        -->
  <!--
    </mat-toolbar-row>
  </mat-toolbar> -->
</footer>
