
mat-toolbar{
  width: 100%;
}
.material-icons.md-24 {
  font-size: 20px;
  padding: 0 14px;
}
#version{
font-size: 15px;
}
#copyright{
  font-size: 15px;
  margin-right: 3vw;
}
.example-spacer {
  flex: 1 1 auto;
}
