footer{
  width: 100%;
  bottom: 0;
  margin-top: 200px;
}
mat-toolbar{
  width: 100%;
}

.material-icons.md-24.build{
  font-size: calc(12px + 1vw);
  margin: 10px;
}
.material-icons.md-24.copyright{
  font-size: calc(10px + 1vw);
  margin-right: 4px;
}
#version{
font-size: calc(8px + 0.5vw);
}
#copyright{
  font-size: calc(6px + 0.5vw);
  margin-right: 3vw;
}
.example-spacer {
 flex: 1 1 auto;
}
