.material-icons.md-24 {
  padding: 0 14px;
  font-size: calc(28px + 1vw);
}
.example-spacer {
  flex: 1 1 auto;
}
#title{
  font-size: calc(20px + 1.2vw);
}
mat-toolbar {
  margin: 0;
  position: relative;
  bottom: 1.3vh;
}
mat-toolbar-row{
  margin-top: 8px;
}
mat-toolbar span{
  text-align: center;
}
mat-card{
  position: relative;
  margin: 0 auto;
  top: 10vh;
  width: 55vw;
  /*height: 55vh;*/
  height: 310px;
  min-width: 270px;
  min-height: 200px;
}
mat-card-header{
  text-align: center;
  position: relative;
}
mat-card-title{
  text-align: center;
  width: 54vw;
}
mat-card-subtitle{
  text-align: center;
  width: 54vw;
}
mat-card-actions{
  text-align: center;
}
mat-card-content{
  text-align: center;
}
#https{
  position: relative;
  left: 13vw;
  margin-top: 1vh;
  margin-right: 1vw;
}
#login_icon{
  position: relative;
  top: 0.5vh;
  margin-right: 2px;
}
#face{
  position: relative;
  top: 1.3vh;
  margin-right: 1vw;
}
#pwd_icon{
  position: relative;
  top: 1vh;
  margin-right: 1vw;
}
#submit{
  width: 15vw;
  min-width: 90px;
  height: 9vh;
  font-size: calc(12px + 0.7vw);
  text-align: center;
}

.email{
  margin-right: 2vw;
}
.email_field{
  min-width: 170px;
  width: 25vw;

}
.password{
  margin-right: 2vw;
}
.password_field{
  width: 25vw;
  min-width: 170px;
}




/* LOADING */

.gooey {
  position: absolute;
  top: 80%;
  left: 50%;

  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.dot{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
   background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
span .dot{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
div .dots span{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
span .gooey{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@keyframes dot {
50%{
  transform: translateX(96px)
  }
}
@keyframes dots {
50% {
  transform: translateX(-31px)
  }
}

.lds-ring {
  text-align: center;
  display: inline-block;
  position: relative;
  right: 0.7vw;
  bottom: 1.3vh;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  text-align: center;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
