.material-icons.md-24 {
  padding: 0 14px;
  font-size: calc(28px + 1vw);
}
.example-spacer {
  flex: 1 1 auto;
}
#title{
  font-size: calc(20px + 1.2vw);
}
mat-toolbar {
  margin: 0;
  position: relative;
  bottom: 1.3vh;
}
mat-toolbar-row{
  margin-top: 8px;
}
mat-toolbar span{
  text-align: center;
}
mat-card{
  position: relative;
  margin: 0 auto;
  top: 10vh;
  width: 55vw;
  height: 55vh;
  min-width: 270px;
  min-height: 250px;
}
mat-card-header{
  text-align: center;
  position: relative;
  margin-left: 16vw;
  margin-right: 10vw;
  margin-top: 1vh;
}
mat-card-actions{
  text-align: center;
}
mat-card-content{
  text-align: center;
}
#https{
  position: relative;
  left: 13vw;
  margin-top: 1vh;
  margin-right: 1vw;
}
#face {
  padding: 0 14px;
  margin-right: 2%;
  position: relative;
  left: 12vw;

}
#login_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#pwd_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#submit{
  width: 15vw;
  min-width: 80px;
  height: 10vh;
  font-size: calc(12px + 0.7vw);
  text-align: center;
}

.email{
  margin-right: 2vw;
}
.email_field{
  min-width: 170px;
  width: 25vw;

}
.password{
  margin-right: 2vw;
}
.password_field{
  width: 25vw;
  min-width: 170px;
}




/* LOADING */

.gooey {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.dot{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
span .dot{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
div .dots span{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
span .gooey{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@keyframes dot {
50%{
  transform: translateX(96px)
  }
}
@keyframes dots {
50% {
  transform: translateX(-31px)
  }
}

