mat-card{
  position: relative;
  left: 23vw;
  top: 10vh;
  width: 55vw;
  height: 40vh;
}

mat-card-header{
  text-align: center;
  position: relative;
  margin-left: 14vw;
  margin-right: 10vw;
  margin-top: 1vh;
}
#https{
  position: relative;
  left: 13vw;
  margin-top: 1vh;
  margin-right: 1vw;
}
#login_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#pwd_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#submit{
  position: relative;
  left: 24vw;
  top: 1vh;
  size: auto;
  width: 7vw;
  height: 7vh;
  text-align: center;
  box-sizing: border-box;
  margin:0 0.3em 0.3em 0;
}
.email{
  position: relative;
  left: 13vw;
  margin-right: 2vw;
}
.email_field{
  width: 22vw;
}
.password{
  position: relative;
  left: 13vw;
  margin-right: 2vw;
}
.password_field{
  width: 22vw;
}
