.material-icons.md-24 {
  font-size: 40px;
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
#title{
  font-size: 30px;
}
mat-toolbar span{
  text-align: center;
}
mat-card{
  position: relative;
  left: 22vw;
  top: 10vh;
  width: 55vw;
  height: 55vh;
}
mat-card-header{
  text-align: center;
  position: relative;
  margin-left: 16vw;
  margin-right: 10vw;
  margin-top: 1vh;
}
#https{
  position: relative;
  left: 13vw;
  margin-top: 1vh;
  margin-right: 1vw;
}
#face {
  padding: 0 14px;
  position: relative;
  left: 12vw;
}
#login_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#pwd_icon{
  position: relative;
  top: 2vh;
  margin-right: 1vw;
}
#submit{
  width: 15vw;
  height: 10vh;
  font-size: calc(12px + 0.7vw);
  text-align: center;
  position: relative;
  left: 21vw;
}

.email{
  position: relative;
  left: 15vw;
  margin-right: 2vw;
}
.email_field{
  width: 22vw;
}
.password{
  position: relative;
  left: 15vw;
  margin-right: 2vw;
}
.password_field{
  width: 22vw;
}




/* LOADING */

.gooey {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.dot{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
span .dot{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
div .dots span{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
span .gooey{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@keyframes dot {
50%{
  transform: translateX(96px)
  }
}
@keyframes dots {
50% {
  transform: translateX(-31px)
  }
}

