/*
html{

  height: auto;
  width: 100%;
  background-color: #032d3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

body{
  height: auto;
  width: auto;
  background-color: #032d3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

