/* You can add global styles to this file, and also import other style files */

html, body{
 /* margin: 0; padding: 0;*/
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #032d3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html{
  height: auto;
  min-height: 100vh;
}
body {
  margin-top: 0;
  min-height: 100vh;
  width: 100%;
}



/*
body{
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: #032d3d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
*/
.loading {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #272c33;
  padding-top: 25vh;
  text-align: center;
  z-index: -1;
  transition: opacity .8s ease-out;
}

app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  color: #032d3d;
}
.text{
  position: relative;
  font-family: "courier", monospace;
  color: #EEE;
  margin: 2%;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.5s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
