<div [@simpleFadeAnimation]="'in'">
    <mat-card class="home-card">
      <mat-card-header>
      <!--  <mat-icon id="info">info</mat-icon> -->
        <mat-card-title>{{USER.cultureName | uppercase}}</mat-card-title>
        <mat-card-subtitle>On this page you will catch basic informations such as temperature, humidity, fan speed</mat-card-subtitle>
        <mat-card-subtitle>
          <mat-icon id="date_range_icon">date_range</mat-icon>
          Planted the {{USER.datePlant | date: 'medium'}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <div class="row">
            <mat-toolbar>
              <mat-toolbar-row>
                <mat-icon>invert_colors</mat-icon>
                <span>Humidity {{USER.humidity}} %</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-progress-bar class="humidity" mode="determinate" value={{USER.humidity}}></mat-progress-bar>
          </div>
          <div class="row">
            <mat-toolbar>
              <mat-toolbar-row>
                <mat-icon>whatshot</mat-icon>
                <span>Temperature {{USER.temperature}}°C</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-progress-bar class="temp" mode="determinate" value={{USER.temperature*2}}></mat-progress-bar>
          </div>
          <div class="row">
            <mat-toolbar>
              <mat-toolbar-row>
                <mat-icon>toys</mat-icon>
                <span>Fan speed {{USER.fan}} %</span><!--
                <mat-checkbox class="radio_disabled" color="primary" [(ngModel)]="disable">
                  <span>Auto</span>
                </mat-checkbox>-->
              </mat-toolbar-row>
            </mat-toolbar>
            <mat-slider class="slider_pwm"
                          thumbLabel
                          tickInterval="auto"
                          [displayWith]="pourcentage"
                          color="primary"
                          min="1" max="100"
                          value={{USER.fan}}
                          [(ngModel)]="USER.fan"
                          (change)="update_fan()"
                          [disabled]="USER.autoFan">
              </mat-slider>
          </div>
        <div class="row">
          <mat-toolbar id="pressure_row">
            <mat-toolbar-row>
              <mat-icon>waves</mat-icon>
              <span>Pressure {{USER.pressure}} Pa</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-progress-bar class="pressure" mode="determinate" value=30></mat-progress-bar>
        </div>
        <!--
        <div class="row">
            <mat-icon>done</mat-icon>
            <span>{{value}}% before finished</span>
            <mat-progress-spinner class="spinner"
                                  [color]="color"
                                  [mode]="mode"
                                  [value]="value">
            </mat-progress-spinner>
        </div> -->

        <div class="row">
          <mat-toolbar id="auto_fan">
            <mat-toolbar-row>
              <mat-icon>autorenew</mat-icon>
                <span>Auto Fan</span>
              <mat-checkbox class="radio_disabled" color="primary" (click)="update_autoFan()" [(ngModel)]="USER.autoFan"></mat-checkbox>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </mat-card-content>
    </mat-card>

  <!-- Mettre spinner progress pour temps avant finir, mettre date de plantation et fin -->
</div>
