<div [@simpleFadeAnimation]="'in'">
  <div class="webcam-row">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{cultureName}}</mat-card-title>
      <span class="spacer"></span>
      <mat-icon>eco</mat-icon>
      <mat-card-subtitle>You can observe your baby</mat-card-subtitle>
    </mat-card-header>
    <img id="currentImg" mat-card-image src="{{currentImgUrl}}" alt="Photo of your plants">
      <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="{{currentImgUrl}}" download>
      <button mat-raised-button>DOWNLOAD</button>
      </a>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
<!--
<mat-card class="card-webcam-lastweek">
  <mat-card-header>
    <mat-icon>eco</mat-icon>
    <mat-card-title>Last Week</mat-card-title>
    <mat-card-subtitle>SuperBud</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/webcam.jpg" alt="Photo of your plants">
  <mat-card-content>
    <p>
      Image taken at 3h00
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>DOWNLOAD</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
-->
