.webcam-row{
  text-align: center;
}
mat-card{
  width: 30vw;
  height: 20vh;
  background-color: white;
  margin-top: 5vh;
  display: inline-block; /* Otherwise the img overflow the page and for text-align*/
  text-align: center;
}
mat-card-header{
  text-align: center;
}
mat-card-content{
  color: white;
}
mat-card img{

}
button{
  margin: 2%;
}
mat-icon{
  padding: 0 8px;
}
.spacer{
  flex: 1 1 auto;
}

