.webcam-row{
  text-align: center;
  display: inline-block;
  padding: 6px;
  margin: 3%;
  width: 40vw;
  height: 20vh;
}
.timelapse-row{
  text-align: center;
  display: inline-block;
  padding: 6px;
  margin: 3%;
  width: 40vw;
  height: 100vh;
}
mat-card img{

}
mat-card{
  background-color: white;
  margin-top: 5vh;
  display: inline-block; /* Otherwise the img overflow the page and for text-align*/
  text-align: center;
}
mat-card-header{
  text-align: center;
}
mat-card-content{
  color: white;
}
button{
  margin: 12px;
}
mat-icon{
  padding: 0 8px;
}
.spacer{
  flex: 1 1 auto;
}

