
<mat-card class="card-webcam">
    <mat-card-header>
      <mat-icon>eco</mat-icon>
      <mat-card-title>My Plant</mat-card-title>
      <mat-card-subtitle>SuperBud</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/webcam.jpg" alt="Photo of your plants">
    <mat-card-content>
      <p>
        Image taken at 23h00
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>DOWNLOAD</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

<mat-card class="card-webcam-lastweek">
  <mat-card-header>
    <mat-icon>eco</mat-icon>
    <mat-card-title>Last Week</mat-card-title>
    <mat-card-subtitle>SuperBud</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/webcam.jpg" alt="Photo of your plants">
  <mat-card-content>
    <p>
      Image taken at 23h00
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>DOWNLOAD</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
